<!doctype html>
<html lang="en" ng-app="BirthCertApp">

<head>
    <meta charset="UTF-8">
    <title>Form Document</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

    <div class="col-lg-8">
        <div ng-controller="BirthCertAppCtrl as ctrl" class="col-lg-8 application-page">

            <h1>Application Form For BIRTH CERTIFICATE - Singaporean Parent</h1>

            <form ng-show="!ctrl.isSubmitted" name="ctrl.applicationform" ng-submit="ctrl.applicationform.$valid && ctrl.onSubmit()"
                novalidate>

                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input id="fullName" name="fullName" type="text" placeholder="John Doe" class="form-control" 
                     ng-model="ctrl.user.fullName"
                    />
                    <br/>
                </div>

                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input id="dob" name="dob" type="date" class="form-control" 
                    ng-model="ctrl.user.dob" />
                    <br/>
                </div>

                <div class="form-group">
                    <label for="gender">Gender</label>
                    <br/>
                    <input id="gender" name="gender" type="radio" 
                    ng-model="ctrl.user.gender" value="M" />Male
                    <br/>
                    <input id="gender" name="gender" type="radio" 
                    ng-model="ctrl.user.gender" value="F" />Female
                    <br/>
                </div>

                <div class="form-group">
                    <label for="bloodType">Blood Type</label>
                    <select id="bloodType" class="form-control" 
                    ng-model="ctrl.user.selectedBloodType">
                        <option ng-repeat="bloodType in ctrl.bloodTypes" value="{{bloodType.value}}">{{bloodType.name}}</option>
                    </select>
                    <br/>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" class="form-control" 
                    ng-model="ctrl.user.address" required/>
                    <div class="validation" data-ng-show="ctrl.applicationform.address.$touched || ctrl.applicationform.$submitted">
                        <div data-ng-show="ctrl.applicationform.address.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Address is required
                        </div>
                    </div>
                </div>
                <br/>

                <div class=form-group>
                    <label for="fatherName">Father's Name</label>
                    <input id="fatherName" name="fatherName" type="text" placeholder="John Doe" class="form-control" 
                    ng-model="ctrl.user.fatherName"/>
                    <br/>
                </div>

                <div class=form-group>
                    <label for="idNumberF">Father's NRIC</label>
                    <input id="idNumberF" name="idNumberF" type="text" placeholder="S1234567Z" class="form-control" 
                    ng-model="ctrl.user.idNumberF" ng-pattern="ctrl.NRIC" required/>
                    <div class="validation" data-ng-show="ctrl.applicationform.idNumberF.$touched || ctrl.applicationform.$submitted">
                        <div data-ng-show="ctrl.applicationform.idNumberF.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> NRIC is required
                        </div>
                        <div data-ng-show="ctrl.applicationform.idNumberF.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> NRIC is invalid
                        </div>
                    </div>
                    <br/>
                </div>

                <div class=form-group>
                    <label for="motherName">Mother's Name</label>
                    <input id="motherName" name="motherName" type="text" placeholder="John Doe" class="form-control" 
                    ng-model="ctrl.user.motherName"
                    />

                    <br/>
                </div>

                <div class=form-group>
                    <label for="idNumberM">Mother's NRIC</label>
                    <input id="idNumberM" name="idNumberM" type="text" placeholder="S1234567Z" class="form-control" 
                    ng-model="ctrl.user.idNumberM"
                        ng-pattern="ctrl.NRIC" / required>
                    <div class="validation" data-ng-show="ctrl.applicationform.idNumberM.$touched || ctrl.applicationform.$submitted">
                        <div data-ng-show="ctrl.applicationform.idNumberM.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> NRIC is required
                        </div>
                        <div data-ng-show="ctrl.applicationform.idNumberM.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> NRIC is invalid
                        </div>
                    </div>
                    <br/>
                </div>

                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input id="contactNumber" name="contactNumber" type="number" class="form-control" 
                    ng-model="ctrl.user.contactNumber" required/>
                    <div class="validation" data-ng-show="ctrl.applicationform.contactNumber.$touched || ctrl.applicationform.$submitted">
                        <div data-ng-show="ctrl.applicationform.contactNumber.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                        </div>
                        <div data-ng-show="ctrl.applicationform.contactNumber.$error.number">
                            <span class="glyphicon glyphicon-alert"></span> Contact Number is invalid
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input id="email" name="email" type="text" placeholder="you@domain.com" class="form-control" 
                    ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat"
                        required/>
                    <div class="validation" data-ng-show="ctrl.applicationform.email.$touched || ctrl.applicationform.$submitted">
                        <div data-ng-show="ctrl.applicationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                        </div>
                        <div data-ng-show="ctrl.applicationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <hr/>
                    <input id="submit" name "submit" type="submit" class="btn btn-success" ng-disabled="ctrl.applicationform.$invalid" />
                    <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
                </div>


            </form>

        </div>

    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>

    <script src="/js/app.module.js"></script>
    <script src="/js/app.service.js"></script>
    <script src="/js/app.controller.js"></script>

</body>

</html>